/* please use this file for your own styles 
 * it's need for easiest update of newest wersions
*/

.pull-left
{
float:left;	
}

.pull-right
{
float:right;	
}


/* ___________________ Educator Homepage ______________ */

#zikwrapper
{
	
}

#zikinnerwrapper
{
background-color:#6bbde8;
width:1110px;
margin:auto;
}

#zikmenupanel
{
width:140px;		
}

#zikcontentpanel
{
width:960px;
/*border:1px solid #ccc;*/	
background-color:#FFFFFF;
margin:5px 5px 5px 5px;
padding-left:20px;
padding-right:10px;
}

#zikheader
{
	
}

.ribbon
{
margin-top: 10px;
margin-right: -15px;
margin-bottom: 10px;	
}

.ribbon p
{
position:absolute;
margin-top: -35px;
color: #fff;
font-size: 12px;
margin-left: 30px;
}	


#ziklogo
{
margin-top:-5px;
}

#zikaccountwrapper
{
margin-right:10px;
}

#zikaccountsetting 
{
margin-top:10px;		
}


#zikaccountsetting p
{
margin-right:10px;
vertical-align:middle;		
}

.profilepic
{
margin-right:10px;
height: 50px;	
}


#ziktilesmenu
{
width:440px;	
}

#ziklayoutarea
{
width:487px;
height:570px;
background-color:rgba(95, 158, 192, 0.94);
overflow:auto;
overflow-x:hidden;
}

.clearmyfix
{
clear:both;	
}

.marginfix
{
margin-top:-105px;	
}

/* Style for dropdown */

/* DEMO 5 */

.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 155px;
    margin: 0 auto;
    padding: 5px 8px;
	margin-top:8px;
    font-size:13px !important;	
    /* Styles */
    background: #73ab3e;
	color:#fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #87c849;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #fff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}
/*------------------------ styles for the main menu ------------------------------------ */
/* Global CSS that are applied for all screen sizes */
.nav{
	margin-top:90px;
	margin-left:25px;
}
.nav ul {
	max-width: 1240px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;
}

.nav li span {
	display: block;
}

.nav a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s ease-in-out;
	-moz-transition: color .5s, background .5s, height .5s ease-in-out;
	-o-transition: color .5s, background .5s, height .5s ease-in-out;
	-ms-transition: color .5s, background .5s, height .5s ease-in-out;
	transition: color .5s, background .5s, height .5s ease-in-out;
}

.nav i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.nav ul:hover a {
	color: rgba(249, 249, 249, .5);
}

.nav ul:hover a:hover {
	color: rgba(22, 145, 190, 0.99);
}

.nactive {
	color: rgba(22, 145, 190, 0.99) !important;
}


/* Adding some background color to the different menu items */

.nav li:nth-child(6n+1) {
	/*background: rgb(22, 145, 190);*/
}

.nav li:nth-child(6n+1):hover {
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	background: rgb(255, 255, 255);
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}


.navactive {
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	background: rgb(255, 255, 255);
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	
}

.iconactive{		
		box-shadow: 0 0 0 0 rgba(22, 145, 190,0.2);
		background: rgba(22, 145, 190,0.1);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}



.nav li:nth-child(6n+2) {
	/*background: rgb(22, 145, 190);*/
}

.nav li:nth-child(6n+2):hover {
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	background: rgb(255, 255, 255);
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}




.nav li:nth-child(6n+3) {
	/*background: rgb(22, 145, 190);*/
}

.nav li:nth-child(6n+3):hover {
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	background: #fff;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}



.nav li:nth-child(6n+4) {
	/*background: rgb(22, 145, 190);*/
}

.nav li:nth-child(6n+4):hover {
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	background: rgb(255, 255, 255);
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}


/* For screen bigger than 800px */
@media (min-width: 50em) {

	/* Transforms the list into a horizontal navigation */
	.nav li {
		margin-bottom:20px;
		width:120px;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	.nav a {
		display: block;
		width: auto;
	}

	
	/* Placing the icons */
	
	.icons {
		padding-top: 0.5em;
	}

	.icons + span {
		margin-top: 0.3em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Animating the height of the element*/
	.nav a {
		height: 6.2em;
	}
	
	/*.menulink {
		color:#000;
	}
	
	.a:hover > menulink {
		color:rgb(22, 145, 190);
	}*/
		

	/* Making the text follow the height animation */
	.no-touch .nav a:hover .icons + span {
		color:rgb(22, 145, 190);
		margin-top: 0.3em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Positioning the iconss and preparing for the animation*/
	.nav i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		border-radius: 50%;
		font-size: 1.8em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
		font-size:25px;
	}	
	
	/* Animate the box-shadow to create the effect */
	.no-touch .nav a:hover i,
	.no-touch .nav a:active i,
	.no-touch .nav a:focus i {		
		box-shadow: 0 0 0 0 rgba(22, 145, 190,0.2);
		background: rgba(22, 145, 190,0.1);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
	
	.iactive {		
		box-shadow: 0 0 0 0 rgba(22, 145, 190,0.2) !important;
		background: rgba(22, 145, 190,0.1) !important;
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
		
}

/* __________________________tiles colors________________________ */

/* BACKGROUND LIST */

/* Solid Colors */
.solid-blue { background:#00BBE2 !important;
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 00%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* W3C */ }
.solid-blue-2 { background:#2C84EE; }
.solid-darkblue { background:#044E94; }
.solid-violetred { background:#781766; }
.solid-red { background:#E51400;}
.solid-red-2 { background:#E81750; }
.solid-pink { background:#FF539B; }
.solid-purple { background:#D02090; }
.solid-orange { background:#FB8F02; }
.solid-orange-2 { background:#FF6600; }
.solid-orange-3 { background:#DD5F37; }
.solid-coral { background:#CD5B45; }
.solid-green { background:#67B239; }
.solid-green-2 {background:#96BF01; }
.solid-darkgreen { background:#016C38; }
.solid-olive { background:#999900}
.solid-grass { background:#CDCD00; }
.solid-darkred { background:#5F0000; }
.solid-gold { background:#FEE9AE; }
.solid-yellow { background:#F7D100; }
.solid-black { background:#000; }
.solid-smoke { background:#F5F5F5; }
/* End Solid Colors */

/* END BACKGROUND LIST */




/* MISC */
.light-text {
	color:#fff;
}
.dark-text {
	color:#1e1e1e;
}
.gradient {
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 00%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* W3C */
}
.shadow-white, .shadow-black, .shadow-blue, .shadow-green, .shadow-red {
	display:inline-block;
	text-decoration:none;
}
.shadow-white:hover {
	box-shadow:0px 0px 6px 3px #fff;
	-webkit-box-shadow:0px 0px 6px 3px #fff;
	-moz-box-shadow:0px 0px 6px 3px #fff;
	-o-box-shadow:0px 0px 6px 3px #fff;
	-ms-box-shadow:0px 0px 6px 3px #fff;
}
.shadow-blue:hover {
	box-shadow:0px 0px 6px 3px #38D1F7;
	-webkit-box-shadow:0px 0px 6px 3px #38D1F7;
	-moz-box-shadow:0px 0px 6px 3px #38D1F7;
	-o-box-shadow:0px 0px 6px 3px #38D1F7;
	-ms-box-shadow:0px 0px 6px 3px #38D1F7;
}
.shadow-green:hover {
	box-shadow:0px 0px 6px 3px #AACA37;
	-webkit-box-shadow:0px 0px 6px 3px #AACA37;
	-moz-box-shadow:0px 0px 6px 3px #AACA37;
	-o-box-shadow:0px 0px 6px 3px #AACA37;
	-ms-box-shadow:0px 0px 6px 3px #AACA37;
}
.shadow-red:hover {
	box-shadow:0px 0px 6px 3px #E81750;
	-webkit-box-shadow:0px 0px 6px 3px #E81750;
	-moz-box-shadow:0px 0px 6px 3px #E81750;
	-o-box-shadow:0px 0px 6px 3px #E81750;
	-ms-box-shadow:0px 0px 6px 3px #E81750;
}
.shadow-black:hover {
	box-shadow:0px 0px 6px 3px #444;
	-webkit-box-shadow:0px 0px 6px 3px #444;
	-moz-box-shadow:0px 0px 6px 3px #444;
	-o-box-shadow:0px 0px 6px 3px #444;
	-ms-box-shadow:0px 0px 6px 3px #444;
}


/* __________________ Styles for MY Ties __________________________ */

.tilespad 
{
padding:10px;	
}

.tilestext
{

}

.tilestextspan
{

}

.metrouicss .tile img
{
-moz-transition: all 1.2s;
-webkit-transition: all 1.2s;
-o-transition: all 1.2s;
transition: all 1.2s;
overflow: hidden;

}

.metrouicss .tile img:hover
{
-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);	
}

/* __________________ Styles for MY Tools __________________________ */

.toolscontainer 
{
padding:5px;
text-align:center;	
}

.toolma a:hover 
{	
color:#ccc;
}


.toolm
{
margin-top:-6px !important;	
margin-bottom:6px !important;
}

.mytools
{
font-size:12px;	
}

.courseware img
{
margin-bottom:9px;	
}


.createcontent 
{
margin-top:10px;
text-align:left;	
}


.createcontenthead
{
font-size:22px !important;
padding-bottom:10px;
padding-top:7px;	
font-weight:500 !important;
}

.createcontentheadsub
{
font-size:12px !important;
font-weight:500 !important;
}

.createcontent p
{
margin-top:10px;	
}

.createcontent p a
{
font-size:12px;	
}

.managecontent p
{
font-size:12px !important;	
}

.createcontent img
{
width:20px;
height:20px;
padding-right:4px;	
}

.courseware
{
height:35px;	
}

.boxvertical ul li{
	margin-left:15px;
	width:40px;
}
.boxvertical img{
	height:25px;
	width:25px;
}
.boxvertical ul{
	margin-top:10px;
	list-style:none;
}

.workoffline ul li{
	text-align:center !important;
}
.workoffline ul{
	list-style:none;
}
.workoffline img{
	height:35px;
	width:35px;
}
.workoffline ul li{
	margin-left:45px;
}

.learningperformance ul li{
	text-align:center !important;
}
.learningperformance ul{
	list-style:none;
}
.learningperformance img{
	height:35px;
	width:35px;
}
.learningperformance ul li{
	margin-left:25px;
}

.toolsmargin {
	margin-bottom:10px;
}