@import "modern.css";
@import "modern-responsive.css";
@import "icons.css";
@import "styling.css";
@import "opera.css";
@import "mystyles.css";
@import "tiles.css";

html { height: 100%; }
body { min-height: 100%; font-family: "Segoe UI", arial, sans-serif; font-size: 12px; position: relative; background: url('../img/backgrounds/default.jpg') left top repeat;}

